<!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
        <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item active">Kontakt</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Kontakt</h2>

        <!-- Sidansbeskrivning -->
        <p class="side-description">
            Kontakta gärna oss via telefonnummer: 011-xxxxxx, våra telefontider mellan 08-17 måndag till fredag.
            <br>
            Eller skicka gärna ett mejl:  <a href="mailto:kundservice@ostgotafardtjanst.se">kundservice&#64;ostgotafardtjanst.se</a>
        </p>
        <p class="side-description">
            Vi är på Östgöta Färdtjänst, uppskattar din feedback samt åsikt, vilket hjälper oss att förbättra vår tjänster.
            <br>
            <br>
            Tveka inte att kontakta oss om du har frågor eller kommentarer.
            <br>
            <br>
            Fyll i formuläret nedan så återkommer vi så snart som möjligt.
        </p>

        <!-- Kontaktformulär -->
        <Fieldset id="contact-form" class="side-description">
            <legend>Kontaktformulär:</legend>
            <form (ngSubmit)="submitForm()" #contactForm="ngForm">
                <div class="form-group">
                    <label for="name">Namn:</label>
                    <input type="text" name="name" [(ngModel)]="formData.name" size="15" maxlength="30" required />
                </div>
                @if(error.nameError !== '') {
                    <span style="color: red;">
                        {{ error.nameError }}
                    </span>
                }
                <br>
                <div class="form-group">
                    <label for="email">E-post:</label>
                    <input type="text" name="email" [(ngModel)]="formData.email" size="15" maxlength="40" required />
                </div>
                @if(error.emailError !== '') {
                    <span style="color: red;">
                        {{ error.emailError }}
                    </span>
                }
                
                <br>

                <label for="message">Meddelande:</label>
                @if(error.messageError !== '') {
                    <span style="color: red;">
                        {{ error.messageError }}
                    </span>
                }
                <br>
                <textarea name="message" [(ngModel)]="formData.message" cols="50" rows="6" required></textarea>
                <br>
                <input type="checkbox" id="confirm-check" [(ngModel)]="consentGiven" name="consent" required />
                <label for="confirm-check">Har läst och godkänt <a href="Hanteringsvillkor.pdf" target="_blank">hanteringspolicy</a> av personuppgifter enligt GDPR.</label>

                <br>

                <input class="btns" type="submit" name="Skicka" value="Skicka" [disabled]="!consentGiven">
                <button class="btn" type="reset" value="Rensa" id="reset-btn">Rensa</button>

            </form>
        </Fieldset>
        
    </main>
