    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
        <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item active">Om Färdtjänst</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Om Färdtjänst</h2>

        <!-- Sidansbeskrivning -->
        <h3 class="under-header">Vad är färdtjänst?</h3>
        <p class="side-description">
            Färdtjänst är en tjänst som erbjuder transport för personer med funktionsnedsättningar som har svårt att använda allmänna färdmedel. Syftet med färdtjänsten är att ge personer med nedsatt rörelseförmåga möjlighet att resa fritt och delta i samhällslivet på lika villkor som andra. 
        </p>
        <h3 class="under-header">Regler för färdtjänst</h3>
        <p class="side-description">
            För att kunna använda färdtjänst måste vissa kriterier uppfyllas. Reglerna kan variera beroende på region, men några vanliga krav inkluderar:
        </p>
        <ol class="side-description">
            <li>
                <strong>Ansökan:</strong> Du måste ansöka om färdtjänst hos din hemkommun eller region. Ansökan kan kräva medicinska intyg som visar på din funktionsnedsättning.
            </li>
            <li>
                <strong>Bedömning:</strong> En bedömning görs för att fastställa om du uppfyller kriterierna för att få färdtjänst. Detta kan inkludera intervjuer och fysiska tester.
            </li>
            <li>
                <strong>Beslut:</strong> Om din ansökan godkänns får du ett beslut om att du är berättigad till färdtjänst. Beslutet anger ofta hur många resor du är berättigad till per månad eller år.
            </li>
            <li>
                <strong>Regler för användning:</strong> Det finns regler för hur färdtjänsten får användas, till exempel vilka tider på dygnet tjänsten är tillgänglig och om du kan ta med följeslagare.
            </li>
        </ol>
        
        <h3 class="under-header">Hur färdtjänst fungerar?</h3>
        
        <ol class="side-description">
            <li>
                <strong>Bokning:</strong> Resor med färdtjänst bokas vanligtvis i förväg via telefon, online eller genom en mobilapp. Du behöver ange tid, datum, upphämtningsadress och destination.
            </li>
            <li>
                <strong>Bekräftelse:</strong> Efter bokningen får du en bekräftelse med detaljer om hämtningstid och information om fordonet som kommer att hämta dig.
            </li>

            <li>
                <strong>Upphämtning:</strong> Färdtjänstbilen hämtar dig på den angivna tiden och platsen. Föraren hjälper dig om du har svårt att ta dig in i eller ur fordonet.
            </li>

            <li>
                <strong>Resa:</strong> Resan går direkt till din angivna destination, eller ibland kan du resa med andra passagerare som har liknande resvägar.
            </li>

            <li>
                <strong>Betalning:</strong> Du betalar vanligtvis en subventionerad avgift för resan. Betalning kan ske via faktura, kontant eller elektroniskt beroende på regionens regler.
            </li>

            <li>
                <strong>Returresa:</strong> Om du behöver en returresa kan du boka den på samma sätt som du bokade din första resa.
            </li>
        </ol>
        
        <h3 class="under-header">Priser:</h3>
        <table class="side-description">
            <tr>
                <th>Sträcka</th>
                <th>Pris</th>
            </tr>
            <tr>
                <td>0-25 km</td>
                <td>40 kronor</td>
            </tr>
            <tr>
                <td>Längre än 25 km</td>
                <td>60 kronor</td>
            </tr>
        </table>
        
    </main>