<!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
            <!-- Bread crumbs -->
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
                <li class="breadcrumbs-item"><a routerLink="/services">Tjänster</a></li>
                <li class="breadcrumbs-item active">Logga in</li>
            </ul>
                
        <!-- Sidansrubrik -->
        <h2 id="side-header">Logga in</h2>

        <!-- Sidansbeskrivning -->
        <p class="side-description">
            Logga in till ditt användarkonto för att boka nya resor och se dina resor.
        </p>

        <form >
            <label for="username" class="inloging-label">Användarnamn:</label>
            <br>
            <input type="text" name="username" id="username" class="input">
            <br>
            <label for="password" class="inloging-label">Lösenord:</label>
            <br>
            <input type="text" name="password" id="password" class="input">
        </form>
        <a routerLink="/useraccount" class="btn">Logga in</a>
        <p class="side-description">
            Har du glömt lösenordet?/ Eller vill du skapa ett konto? <br>
            Kontakta gärna oss! 
        </p>
    </main>