<!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
        <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item"><a routerLink="/services">Tjänster</a></li>
            <li class="breadcrumbs-item"><a routerLink="/inloging" style="white-space: nowrap;">Logga in</a></li>
            <li class="breadcrumbs-item active">Användarsida</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Användarsida</h2>

        <!-- Sidansbeskrivning -->
        
        <p class="side-description">
            I din anävndersida kan du, boka en ny resa, och hantera dina inbokade resor.
        </p>
        <p class="side-description">
            Klicka på knappen för att boka en ny resa:
        </p>
        <a routerLink="/newbooking" class="btn">Boka ny resa</a>
        <p class="side-description">
            <strong>Markera/avmarkera dina förbokade resor:</strong>
        </p>

        <h2 class="side-description">
            <strong>Enkel resor</strong>
        </h2>
        @if(onewayTrips.length !== 0) {
            <ul class="side-description" *ngFor="let trip of onewayTrips">
                <li class="trip-list">
                    Bokningsnummer: {{trip.id}}
                    <br>{{trip.firstname}} {{trip.lastname}} 
                    <br> Från: {{trip.from}} - Till: {{trip.to}} 
                    <br>Datum: {{trip.date.split('T')[0]}} - Tid: {{trip.time.slice(0, 5)}} 
                    <br>Tilläggstjänster: {{trip.extra_services}} 
                    <br>Återkommanderesa: {{trip.recurring}}
                    <br><button class="btns" (click)="updateOnewayTrip(trip.id)">Omboka resa</button> - <button class="btns" (click)="deleteOnewayTrip(trip.id)">Avboka resa</button> 
                </li>
            </ul>
        } @else {
            <p class="side-description">Det finns inga inbokade resor</p>
        }
        

        <h2 class="side-description">
            <strong>Tur och retur</strong>
        </h2>
        @if(roundTrips.length !== 0) {
            <ul class="side-description" *ngFor="let trip of roundTrips">
                <li class="trip-list">
                    Bokningsnummer: {{trip.id}}
                    <br>{{trip.firstname}} {{trip.lastname}} 
                    <br>Från: {{trip.from}} - Till: {{trip.to}} 
                    <br>Datum: {{trip.date.split('T')[0]}} - Tid: {{trip.time.slice(0, 5)}}
                    <br>Returresa:
                    <br>Datum: {{trip.return_date.split('T')[0]}} - Tid: {{trip.return_time.slice(0, 5)}} 
                    <br>Tillägstjänster: {{trip.extra_services}}  <br>Återkommanderesa: {{trip.recurring}}
                    <br><button class="btns" (click)="updateRoundTrip(trip.id)">Omboka resa</button> - <button class="btns" (click)="deleteRoundTrip(trip.id)">Avboka resa</button> 
                </li>
            </ul>
        } @else {
            <p class="side-description">Det finns inga inbokade resor</p>
        }
        
        
    </main>