<!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>

        <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item active">Om oss</li>
        </ul>        

        <!-- Sidansrubrik -->
        <h2 id="side-header">Om oss</h2>



        <!-- Extra bild -->
        <img src="images/about-image.jpg" alt="En kvinna som skjuter en man i rullstol längs en strandpromenad vid solnedgång" class="extra-image">

        <!-- Sidansbeskrivning -->
        <p class="side-description">
            Östgöta Färdtjänst har vision att ge varje individ i Östergötland län möjlighet till självständighet och frihet att röra sig i vardagen. Vi erbjuder en rad olika färdtjänst lösningar som är designade för att passa dina individuella behov. 
        </p>
        <p class="side-description">
            Oavsett om det handlar om dagliga resor, läkarbesök, eller sociala aktiviteter, finns vi för att säkerställa du når din destination på ett bekvämt samt säkert sätt.
        </p>
        <p class="side-description">
            Vårt team består av erfarna förare och kundtjänst personal, som alla delar samma passion för att ge utmärkt upplevelse.
        </p>
        
    </main>
