 <!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
       <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item"><a routerLink="/services">Tjänster</a></li>
            <li class="breadcrumbs-item"><a routerLink="/inloging" style="white-space: nowrap;">Logga in</a></li>
            <li class="breadcrumbs-item"><a routerLink="/useraccount">Användarsida</a></li>
            <li class="breadcrumbs-item active">Ändra bokning</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Ändra bokning</h2>

        <!-- Sidansbeskrivning -->
        <p class="side-description">
            I denna sida kan du enkelt omboka din resa, och fylla nya uppgifter i informationsruta
        </p>


        <!-- Input för enkelresa -->
        <fieldset>
            <form>
                <label for="firstname">Förnamn:</label>
                <input type="text" id="firstname" [(ngModel)]="currentTrip.firstname" name="firstname">
                
                
                <br>
                
                <label for="lastname">Efternamn:</label>
                <input type="text" id="lastname" [(ngModel)]="currentTrip.lastname" name="lastname">

                <br>

                <label for="email">E-post:</label>
                <input type="text" id="email" [(ngModel)]="currentTrip.email" name="email">

                <br>

                <label for="from">Från:</label>
                <input type="text" [(ngModel)]="currentTrip.from" name="from">

                <br>

                <label for="to">Till:</label>
                <input type="text" [(ngModel)]="currentTrip.to" name="to">

                <br>

                <label for="date">Datum:</label>
                <input type="date" [(ngModel)]="currentTrip.date" name="date">

                <br>

                <label for="time">Tid:</label>
                <input type="time" [(ngModel)]="currentTrip.time" name="time">

                <br>

                <strong>Tilläggstjänster:</strong>

                <br>

                <textarea name="extraServices" id="extraServices" placeholder="Här skrivs du om du behöver extra tjänster så såsom rollstol, ledsagare annars skrivs Nej!" [(ngModel)]="currentTrip.extra_services"></textarea>

                <br>
                <strong>Återkommande resa:</strong>
                <br>
                <input type="radio" name="yes/no" id="yes" [(ngModel)]="isRecurring" [value]="true">
                <label for="yes">Ja, </label><label for="every">varje</label><input type="text" size="5" maxlength="20" [(ngModel)]="every" class="every" name="every">
                <br>
                <input type="radio" name="yes/no" id="no" [(ngModel)]="isRecurring" [value]="false">
                <label for="no">Nej</label>
                <br>
                <button class="btn" (click)="updateTrip()">Boka</button>
                @if(error !== '') {
                    <span style="color: red;">{{ error }}</span>
                }
            </form>
        </fieldset>

    </main>