 <!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
       <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item"><a routerLink="/services">Tjänster</a></li>
            <li class="breadcrumbs-item"><a routerLink="/useraccount">Användarsida</a></li>
            <li class="breadcrumbs-item active">Ny bokning</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Ny bokning</h2>

        <!-- Sidansbeskrivning -->
        <p class="side-description">
            I denna sida kan du enkelt boka en ny resa, genom att välja mellan “Enkel resa” eller “Tur och retur”, och fylla i informationsruta
        </p>

        <!-- Resa-alternative -->
        <div id="travel-alternative">

            <label for="one-way-trip" id="one-way-label">Enkel resa</label>
            
            <input type="radio" id="one-way-trip"
            name="trip-choice" (change)="selectTrip('oneway')" [checked]="selectedTripType === 'oneway'">

            <label for="round-trip" id="round-label">Tur och retur</label>
            
            <input type="radio" id="round-trip" name="trip-choice" (change)="selectTrip('round')" [checked]="selectedTripType === 'round'">

        </div>

        <!-- Input för enkelresa -->
        <fieldset id="booking-input-oneway" [style.display]="showOnewayForm">
            <form>
                <div class="form-group">
                    <label for="firstname">Förnamn:</label>
                    <input type="text" id="firstname" [(ngModel)]="firstname" name="firstname">
                </div>
                
                <br>
                
                <div class="form-group">
                    <label for="lastname">Efternamn:</label>
                    <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname">
                </div>

                <br>

                <div class="form-group">
                    <label for="email">E-post:</label>
                    <input type="text" id="email" [(ngModel)]="email" name="email">
                </div>

                <br>

                <div class="form-group">
                    <label for="from">Från:</label>
                    <input type="text" [(ngModel)]="from" name="from">
                </div>

                <br>

                <div class="form-group">
                    <label for="to">Till:</label>
                    <input type="text" [(ngModel)]="to" name="to">
                </div>
                <br>

                <div class="form-group">
                    <label for="date">Datum:</label>
                    <input type="date" [(ngModel)]="date" name="date">
                </div>
                <br>

                <div class="form-group">
                    <label for="time">Tid:</label>
                    <input type="time" [(ngModel)]="time" name="time">
                </div>
                <br>

                <strong>Tilläggstjänster:</strong>

                <br>

                <textarea name="extraServices" id="extraServices" placeholder="Här skrivs du om du behöver extra tjänster så såsom rollstol, ledsagare annars skrivs Nej!" [(ngModel)]="extraServices"></textarea>

                <br>
                <strong>Återkommande resa:</strong>
                <br>
                <input type="radio" name="yes/no" id="yes" [checked]="isRecurring === true">
                <label for="yes">Ja, </label><label for="every">varje</label><input type="text" size="5" maxlength="20" [(ngModel)]="every" class="every" name="every">
                <br>
                <input type="radio" name="yes/no" id="no" [checked]="isRecurring === false">
                <label for="no">Nej</label>
                <br>
                <button class="btn" (click)="bookOnewayTrip()">Boka</button>
                @if(error !== '') {
                    <span style="color: red;">{{ error }}</span>
                }
            </form>
        </fieldset>

        <!-- Input för tur och retur -->
        <fieldset id="booking-input-round" [style.display]="showRoundForm">
            <form>

                <div class="form-group">
                    <label for="firstnameRound">Förnamn:</label>
                    <input type="text" name="firstnameRound" [(ngModel)]="firstnameRound">
                </div>
                <br>

                <div class="form-group">
                    <label for="lastnameRound">Efternamn:</label>
                    <input type="text" name="lastnameRound" [(ngModel)]="lastnameRound">
                </div>
                <br>

                <div class="form-group">
                    <label for="emailRound">E-post:</label>
                    <input type="text" name="emailRound" [(ngModel)]="emailRound">
                </div>
                <br>

                <div class="form-group">
                    <label for="fromRound">Från:</label>
                    <input type="text" name="fromRound" [(ngModel)]="fromRound">
                </div>
                <br>

                <div class="form-group">
                    <label for="toRound">Till:</label>
                    <input type="text" name="toRound" [(ngModel)]="toRound">
                </div>

                <br>

                <div class="form-group">
                    <label for="dateDepart">Datum:</label>
                    <div class="form-group"></div>
                    <input type="date" name="dateDepart" [(ngModel)]="dateDepart">
                </div>
                <br>

                <div class="form-group">
                    <label for="timeDepart">Tid:</label>
                    <input type="time" name="timeDepart" [(ngModel)]="timeDepart">
                </div>

                <br>

                <strong>Tilläggstjänster:</strong>

                <br>

                <textarea placeholder="Här skrivs du om du behöver extra tjänster så såsom rollstol, ledsagare annars skrivs Nej!" [(ngModel)]="extraServicesRound" name="extraServicesRound"></textarea>

                <br>
                <strong>Retur resa:</strong>
                <br>

                <div class="form-group">
                    <label for="dateReturn">Datum:</label>
                    <input type="date" [(ngModel)]="dateReturn" name="dateReturn">
                </div>

                <br>

                <div class="form-group">
                    <label for="timeReturn">Tid:</label>
                    <input type="time" [(ngModel)]="timeReturn" name="timeReturn">
                </div>
                
                <br>
                <strong>Återkommande resa:</strong>
                <br>

                <input type="radio" name="yes/no" id="yes-round" [checked]="isRecurringRound === true">
                <label for="yes-round">Ja, </label><label for="everyRound">varje</label><input type="text" size="5" maxlength="20" name="everyRound" [(ngModel)]="everyRound" class="every">
                <br>
                <input type="radio" name="yes/no" id="no-round" [checked]="isRecurringRound === false">
                <label for="no-round">Nej</label>
                <br>
                <button class="btn" (click)="bookRoundTrip()">Boka</button>
                @if(error !== '') {
                    <span style="color: red;">{{ error }}</span>
                }
            </form>
        </fieldset>
        
         <!-- Bekräftelse ruta -->
        <div id="confirmationBox">Resa tillagd!</div>
    </main>