input {
    margin: 0 1%;
    max-width: 80%;
}

span {
    margin: 0 1%;
}

li {
    padding: 0 1%;
}

fieldset {
    width: 90%;
}
.form-group {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .form-group{
        flex-direction: column;
    }
}