 <!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
        <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item active">Tillgänglighetsredogörelse</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Tillgänglighetsredogörelse</h2>

        <!-- Sidansbeskrivning -->
        <h3 class="under-header">Tillgänglighet för https://ostgota_taxi.netlify.app</h3>
        <p class="side-description">
            Östgöta Färdtjänst står bakom den här webbplatsen. Vi vill att så många som möjligt ska kunna använda den. Det här dokumentet beskriver hur https://studenter.miun.se/~tois2401/dt068g/moment32/ uppfyller lagen om tillgänglighet till digital offentlig service, eventuella kända tillgänglighetsproblem och hur du kan rapportera brister till oss så att vi kan åtgärda dem.
        </p>
        <h3 class="under-header">Hur tillgänglig är webbplatsen?</h3>
        <p class="side-description">
            Vi är medvetna om att delar av webbplatsen inte är helt tillgängliga. Se avsnittet om innehåll som inte är tillgängligt nedan för mer information.
        </p>
        <h3 class="under-header">Rapportera brister i webbplatsens tillgänglighet</h3>
        <p class="side-description">
            Vi strävar hela tiden efter att förbättra webbplatsens tillgänglighet. Om du upptäcker problem som inte är beskrivna på den här sidan, eller om du anser att vi inte uppfyller lagens krav, kontakta oss så att vi får veta att problemet finns.
        </p>
        <h3 class="under-header">Tillsyn</h3>
        <p class="side-description">
            Myndigheten för digital förvaltning, Digg, har ansvaret för tillsyn över lagen om tillgänglighet till digital offentlig service. Du kan anmäla till Digg om du tycker att vår digitala service har brister i tillgänglighet.
            <br>Du kan också anmäla till Digg om du tycker att vår bedömning av vad som är oskäligt betungande ska granskas, om du tycker att vår tillgänglighetsredogörelse har brister eller om du tycker att vi inte har hanterat din begäran om tillgängliggörande korrekt.
        </p>
        
        
        <h3 class="under-header">Teknisk information om webbplatsens tillgänglighet</h3>
        
        <ol class="side-description">
            <li>
                <strong>Responsiv Design:</strong> Webbplatsen är optimerad för olika skärmstorlekar och enheter.

            </li>
            <li>
                <strong>WCAG-riktlinjer:</strong> Webbplatsen Följer WCAG-riktlinjer (Web Content Accessibility Guidelines) för att säkerställa tillgänglighet för personer med funktionsnedsättningar.
            </li>

            <li>
                <strong>Färgkontraster:</strong> Vi använder färger med hög kontrast för att förbättra läsbarheten och göra innehållet mer tillgängligt.

            </li>
        </ol>
        <h3 class="under-header">Innehåll som inte är tillgängligt</h3>
        <p class="side-description">
            Det innehåll som beskrivs nedan är på ett eller annat sätt inte helt tillgängligt.
            <br>I webbplatsen saknar <strong>sökfunktion</strong>, men vår ambition är att ha åtgärdat alla kända tillgänglighetsproblem senast den 2025-01-30
        </p>
        <h3 class="under-header">Hur vi testat webbplatsen</h3>
        
        <ol class="side-description">
            <li>
                <strong>Användartester:</strong> Utförde tester med representativa användare för att identifiera och åtgärda användbarhetsproblem.

            </li>
            <li>
                <strong>Automatiserade Tillgänglighetstester:</strong> Använde verktyg som WAVE och Lighthouse för att upptäcka och åtgärda tillgänglighetsproblem.
            </li>
        </ol>
        <ul class="side-description">
            <li>Senaste bedömningen gjordes den 2025-01-15.</li>
            <li>Webbplatsen publicerades den 2025-01-05.</li>
            <li>Redogörelsen uppdaterades senast den 2025-01-15.</li>
        </ul>   
        
    </main>
