<!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>

        <!-- Bread crumbs -->
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a routerLink="/home">Startsida</a></li>
            <li class="breadcrumbs-item active">Tjänster</li>
        </ul>

        <!-- Sidansrubrik -->
        <h2 id="side-header">Tjänster</h2>



        <!-- Extra bild -->
        <img src="images/service-image.jpg" alt="Bilförare hjälper en man i rollstol att åka i bilen genom ramp" class="extra-image">

        <!-- Sidansbeskrivning -->
        <p class="side-description">
            I denna sida hittar du våra tjänster.
            <br>
            Du kan boka en ny resa genom att klicka på “Boka ny resa” för att ta dig vidare till ditt kontos sida. I konto sida kan du även avboka dina aktuella resor genom att klicka på “avboka resa”.
        </p>
        <a href="inloging.html" class="btn">Boka ny resa</a>
        <a href="inloging.html" class="btn">Avboka resa</a>
    </main>