<!-- Main -->
    <main>
        <!-- Huvudbilden -->
        <div>
            <img src="images/main-image.jpg" alt="Huvudbilden som innehåller en gul taxi och byggnader i bakgrunden" id="main-image">
        </div>
        
        <h2 id="side-header">Startsida</h2>
        <h3 id="wellcome-sentence">Välkommen till Östgöta Färdtjänst!</h3>
        <p class="side-description">
            Vi är här för att göra din resa enklare och bekvämare.
            <br>
            <br>
            Med vår pålitliga och anpassade färdtjänst ser vi till att du kommer dit du behöver, när du behöver det.
            <br>
            <br>
            Oavsett om det är för arbete, nöje eller vardagliga ärenden, är vi redo att hjälpa dig på vägen. 
            <br>
            <br>
            Luta dig tillbaka och låt oss ta hand om resan!
            <br>
            <br>
            <a href="info.html" id="info-link">Mer information om färdtjänst!</a>
        </p>    
    </main>
